.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-weight: 500; }

.header__logo {
  height: 40px; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px; }
  .nav-list__item:not(:first-child) {
    margin-left: 20px; }
  .nav-list__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    height: 100%;
    margin: auto; }
  .nav-list__link:hover {
    color: #00acdc; }

.is-active {
  color: #00acdc; }

.is-active::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: #00acdc;
  border-radius: 8px; }

@media (max-width: 600px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff; }
  .navigation {
    width: 100%;
    overflow-x: scroll; }
  .header__logo {
    display: none; }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50px; }
    .nav-list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 3px 0; }
    .nav-list__item:not(:first-child) {
      margin: 0; } }

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  justify-items: center;
  grid-gap: 50px 0;
  margin: 50px auto 0;
  max-width: 992px; }

.card {
  max-width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 30px 14px 15px; }
  .card__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 45px; }
  .card__title {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px;
    line-height: 15px; }
  .card__code {
    display: block;
    font-size: 11px;
    margin: 0 0 15px; }
  .card__feedback, .card__price-label {
    font-size: 11px;
    margin: 0;
    line-height: 13px; }
  .card__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 20px; }
  .card__rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
  .card__price-amount {
    font-weight: bold;
    line-height: 19px; }
  .card__btn {
    width: 170px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #00acdc;
    text-transform: uppercase;
    background-color: #00acdc;
    cursor: pointer; }
  .card__btn:hover {
    color: #00acdc;
    background-color: #fff; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .stars__item {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    background-position: center; }
    .stars__item:nth-child(-n+4) {
      background-image: url(/images/star-active.svg); }

@media (max-width: 991px) {
  .products {
    grid-template-columns: repeat(auto-fill, calc(100% / 3)); } }

@media (max-width: 750px) {
  .products {
    grid-template-columns: repeat(auto-fill, 50%); } }

@media (max-width: 500px) {
  .products {
    grid-template-columns: repeat(auto-fill, 100%); } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

/*# sourceMappingURL=main.css.map */
